In [1]:
import pandas as pd
import numpy as np
import sklearn

In [23]:
df = pd.read_csv("analytics.csv", 
                sep=',',
                skiprows=6,
                nrows=11)
df

,Language,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,en-us,"23,497","22,696","35,113",0.54%,6.35,00:02:32,27.21%,"9,555",$0.00
1,id-id,"7,797","7,613","10,617",0.65%,4.89,00:01:38,16.26%,"1,726",$0.00
2,en-gb,"3,198","3,086","4,625",0.56%,5.52,00:01:50,21.36%,988,$0.00
3,id,"2,171","2,094","2,724",0.29%,4.75,00:01:43,17.18%,468,$0.00
4,en,224,214,295,3.05%,5.03,00:01:44,26.78%,79,$0.00
5,id-us,204,202,235,1.28%,3.64,00:00:44,4.68%,11,$0.00
6,th-th,186,186,224,0.45%,3.50,00:00:40,4.91%,11,$0.00
7,en-sg,132,125,231,0.00%,6.92,00:02:10,39.83%,92,$0.00
8,en-id,126,119,171,0.00%,6.39,00:04:10,26.32%,45,$0.00
9,en-au,93,91,127,0.00%,5.56,00:01:22,19.69%,25,$0.00
10,NaN,"38,351","37,140","55,195",0.63%,5.86,00:02:13,23.96%,"13,222",$0.00

In [24]:
df['Language'].fillna("missing", inplace=True)
df

,Language,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,en-us,"23,497","22,696","35,113",0.54%,6.35,00:02:32,27.21%,"9,555",$0.00
1,id-id,"7,797","7,613","10,617",0.65%,4.89,00:01:38,16.26%,"1,726",$0.00
2,en-gb,"3,198","3,086","4,625",0.56%,5.52,00:01:50,21.36%,988,$0.00
3,id,"2,171","2,094","2,724",0.29%,4.75,00:01:43,17.18%,468,$0.00
4,en,224,214,295,3.05%,5.03,00:01:44,26.78%,79,$0.00
5,id-us,204,202,235,1.28%,3.64,00:00:44,4.68%,11,$0.00
6,th-th,186,186,224,0.45%,3.50,00:00:40,4.91%,11,$0.00
7,en-sg,132,125,231,0.00%,6.92,00:02:10,39.83%,92,$0.00
8,en-id,126,119,171,0.00%,6.39,00:04:10,26.32%,45,$0.00
9,en-au,93,91,127,0.00%,5.56,00:01:22,19.69%,25,$0.00
10,missing,"38,351","37,140","55,195",0.63%,5.86,00:02:13,23.96%,"13,222",$0.00

In [25]:
def charaa(x):
    if re.findall("[-]", x):
        return x[0:2]
    else:
        return x
df['Language'] = df['Language'].apply(charaa)
df

,Language,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,en,"23,497","22,696","35,113",0.54%,6.35,00:02:32,27.21%,"9,555",$0.00
1,id,"7,797","7,613","10,617",0.65%,4.89,00:01:38,16.26%,"1,726",$0.00
2,en,"3,198","3,086","4,625",0.56%,5.52,00:01:50,21.36%,988,$0.00
3,id,"2,171","2,094","2,724",0.29%,4.75,00:01:43,17.18%,468,$0.00
4,en,224,214,295,3.05%,5.03,00:01:44,26.78%,79,$0.00
5,id,204,202,235,1.28%,3.64,00:00:44,4.68%,11,$0.00
6,th,186,186,224,0.45%,3.50,00:00:40,4.91%,11,$0.00
7,en,132,125,231,0.00%,6.92,00:02:10,39.83%,92,$0.00
8,en,126,119,171,0.00%,6.39,00:04:10,26.32%,45,$0.00
9,en,93,91,127,0.00%,5.56,00:01:22,19.69%,25,$0.00
10,missing,"38,351","37,140","55,195",0.63%,5.86,00:02:13,23.96%,"13,222",$0.00

In [28]:
df[df['Pages / Session'] == df['Pages / Session'].max()]

,Language,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
7,en,132,125,231,0.00%,6.92,00:02:10,39.83%,92,$0.00

In [36]:
df[df['Language'] == 'en']['Pages / Session'].mean()

5.961666666666667

In [38]:
for i in df['Language'].unique():
    print("mean", i , "= ", df[df['Language'] == i]['Pages / Session'].mean())

mean en =  5.961666666666667
mean id =  4.426666666666667
mean th =  3.5
mean missing =  5.86

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Language               11 non-null     object
 1   Users                  11 non-null     object
 2   New Users              11 non-null     object
 3   Sessions               11 non-null     object
 4   Bounce Rate            11 non-null     object
 5   Pages / Session        11 non-null     float64
 6   Avg. Session Duration  11 non-null     object
 7   Goal Conversion Rate   11 non-null     object
 8   Goal Completions       11 non-null     object
 9   Goal Value             11 non-null     object
dtypes: float64(1), object(9)
memory usage: 1008.0+ bytes

In [42]:
def delpercent(x):
    return x.replace('%',"")
df['Goal Conversion Rate'] = df['Goal Conversion Rate'].apply(delpercent)
df

,Language,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,en,"23,497","22,696","35,113",0.54%,6.35,00:02:32,27.21,"9,555",$0.00
1,id,"7,797","7,613","10,617",0.65%,4.89,00:01:38,16.26,"1,726",$0.00
2,en,"3,198","3,086","4,625",0.56%,5.52,00:01:50,21.36,988,$0.00
3,id,"2,171","2,094","2,724",0.29%,4.75,00:01:43,17.18,468,$0.00
4,en,224,214,295,3.05%,5.03,00:01:44,26.78,79,$0.00
5,id,204,202,235,1.28%,3.64,00:00:44,4.68,11,$0.00
6,th,186,186,224,0.45%,3.50,00:00:40,4.91,11,$0.00
7,en,132,125,231,0.00%,6.92,00:02:10,39.83,92,$0.00
8,en,126,119,171,0.00%,6.39,00:04:10,26.32,45,$0.00
9,en,93,91,127,0.00%,5.56,00:01:22,19.69,25,$0.00
10,missing,"38,351","37,140","55,195",0.63%,5.86,00:02:13,23.96,"13,222",$0.00

In [46]:
df['Goal Conversion Rate'].astype('float64')
df

,Language,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,en,"23,497","22,696","35,113",0.54%,6.35,00:02:32,27.21,"9,555",$0.00
1,id,"7,797","7,613","10,617",0.65%,4.89,00:01:38,16.26,"1,726",$0.00
2,en,"3,198","3,086","4,625",0.56%,5.52,00:01:50,21.36,988,$0.00
3,id,"2,171","2,094","2,724",0.29%,4.75,00:01:43,17.18,468,$0.00
4,en,224,214,295,3.05%,5.03,00:01:44,26.78,79,$0.00
5,id,204,202,235,1.28%,3.64,00:00:44,4.68,11,$0.00
6,th,186,186,224,0.45%,3.50,00:00:40,4.91,11,$0.00
7,en,132,125,231,0.00%,6.92,00:02:10,39.83,92,$0.00
8,en,126,119,171,0.00%,6.39,00:04:10,26.32,45,$0.00
9,en,93,91,127,0.00%,5.56,00:01:22,19.69,25,$0.00
10,missing,"38,351","37,140","55,195",0.63%,5.86,00:02:13,23.96,"13,222",$0.00

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Language               11 non-null     object
 1   Users                  11 non-null     object
 2   New Users              11 non-null     object
 3   Sessions               11 non-null     object
 4   Bounce Rate            11 non-null     object
 5   Pages / Session        11 non-null     float64
 6   Avg. Session Duration  11 non-null     object
 7   Goal Conversion Rate   11 non-null     object
 8   Goal Completions       11 non-null     object
 9   Goal Value             11 non-null     object
dtypes: float64(1), object(9)
memory usage: 1008.0+ bytes

In [51]:
df['Goal Conversion Rate'] = pd.to_numeric(df['Goal Conversion Rate'], downcast = 'float')
df

ValueError: invalid downcasting method provided

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Language               11 non-null     object
 1   Users                  11 non-null     object
 2   New Users              11 non-null     object
 3   Sessions               11 non-null     object
 4   Bounce Rate            11 non-null     object
 5   Pages / Session        11 non-null     float64
 6   Avg. Session Duration  11 non-null     object
 7   Goal Conversion Rate   11 non-null     float32
 8   Goal Completions       11 non-null     object
 9   Goal Value             11 non-null     object
dtypes: float32(1), float64(1), object(8)
memory usage: 964.0+ bytes

In [52]:
df2 = df[['Pages / Session']]
y = df['Goal Conversion Rate']

In [55]:
from sklearn.linear_model import LinearRegression

model_A = LinearRegression().fit(df2, y)
y_pred = model_A.predict(df2)

In [57]:
from sklearn.metrics import r2_score

print(r2_score(y, y_pred))

0.8657095174278702

In [62]:
model_A.intercept_

-25.188226127620187

In [63]:
df3 = df[['Pages / Session', 'Language']]

In [68]:
from sklearn.preprocessing import OrdinalEncoder

df3['Language'] = OrdinalEncoder().fit_transform(df[['Language']])
df3

C:\Users\David Yohast\.conda\envs\tf\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    Pages / Session  Language
0              6.35       0.0
1              4.89       1.0
2              5.52       0.0
3              4.75       1.0
4              5.03       0.0
5              3.64       1.0
6              3.50       3.0
7              6.92       0.0
8              6.39       0.0
9              5.56       0.0
10             5.86       2.0

In [69]:
model_B = LinearRegression().fit(df3, y)
y_predB = model_B.predict(df3)

In [70]:
print(r2_score(y, y_predB))

0.8694007700434031

In [72]:
print("adjusted r2 for model B",1 - ( 1-r2_score(y, y_predB) ) * ( len(y) - 1 ) / ( len(y) - df3.shape[1] - 1 ))

adjusted r2 for model B 0.8367509625542539

In [73]:
print("adjusted r2 for model A",1 - ( 1-r2_score(y, y_pred) ) * ( len(y) - 1 ) / ( len(y) - df2.shape[1] - 1 ))

adjusted r2 for model A 0.8507883526976335